﻿@using PagedList.Mvc;

@model FizzBuzzWeb.Models.FizzbuzzViewModel
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>FizzBuzz </h2>


<br />
<br />

@using (Html.BeginForm("Index", "FizzBuzzWeb", FormMethod.Post))
{
    @Html.ValidationMessageFor(x => x.Input)
    <p>Enter any number between 1 to 1000: @Html.TextBoxFor(x => x.Input)</p>
    <input type="submit" value="Submit" />
    <br />
    if (Model.FizzBuzzNumbers.Any())
    {
        <label>FizzBuzz Numbers are</label>

        foreach (var item in Model.FizzBuzzNumbers)
        {
            <br />
            <div class="@item">
                @item
            </div>

        }
    }
}

Page @(Model.FizzBuzzNumbers.PageNumber < Model.FizzBuzzNumbers.PageNumber ? 0 : Model.FizzBuzzNumbers.PageNumber)
            of @Model.FizzBuzzNumbers.PageCount   @Html.PagedListPager(Model.FizzBuzzNumbers, page => Url.Action("Index1", new { page, Model.Input }))
        